*{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
ol,ul{
    list-style-type: none;/*去除列表标识*/
}
a{
    color: #666;
    text-decoration: none;/*去掉下划线*/
}
.left{/*左浮动*/
    float: left;
}
.right{/*右浮动*/
    float: right;
}
.fade{ /*隐藏css*/
    opacity: 0; /*隐藏区域代码*/
}
.show{
    opacity: 1;/*显示代码*/
}
#top,#header,#nav,#banner,#star,#accessory,#wold,#server,#afterserver,#footer{/*测试代码*/
    height: 100px;
    width: 100%;
}
.container{
    width: 1280px;
    margin: 0px auto;
}
#top{
    height: 5px;
    background-color: #00925F;
}
#header{
    height: 30px;
    background-color: #2d2d2d;
    overflow: hidden;
}
#header #xlwb{
    width: 20px;
    height: 16px;
    background: url("../img/icons.png") no-repeat -47px -95px;/*no-repeat表示此背景图片在页面中只出现一次,不进行横向和纵向的平铺，后面的参数是图片大小框位移*/
}
#header #txwb{
    width: 16px;
    height: 20px;
    background: url("../img/icons.png") no-repeat -27px -92px;
}
#header #tel{
    color:#00925F;
}
#header li a{
    color: #B2B2B2;
    font-size: 13px;
    border-right: 1px solid #B2B2B2;
    margin: 0px 10px 0px 0px;
    padding:0px 10px 0px 0px;
}
#header li a:hover{
    color: #00925F;
}
#header li span{
    margin-left: 0px;
    width: 19px;
    height: 16px;
    display: inline-block;/*span 是行内元素 不可以设置高宽，把显示方式设置为行内块就可以设置了*/
    background: url("../img/icons.png") no-repeat 0px -96px;
    vertical-align: middle;/*显示方式*/
}
#header #shopping a{
    margin: 0px 5px 0px 10px;
    padding-right: 0px;
    border: none;
}
#header #header_left div{
    float: left;
    margin: 5px 6px 0px;
}
#header li{
    float: left;
    line-height:30px ;
}
/*设置导航栏样式*/
#nav{
    height: 70px;
    background-color: #eee;
}
#nav #logo span{
    width: 170px;
    height: 65px;
    background:url(/oppo/img/logo.png) no-repeat 0px -10px;
    display: inline-block;
    vertical-align: middle;/*显示方式*/
}
#nav li{
    float: left;
    margin:0px 20px;
    line-height: 70px;
}
#nav a{
    color: #666;
    font-weight: bold;/*加粗文字*/
}
#nav li a:hover{
    color: #00925f;
}
/*设置网页明星机型部分的样式*/
#star{
    height: 700px;
    background-color: #F2F2F2;
}
#star #star_top{
    text-align: center;
    margin: 10px;
}
#star ul{
    width: 1263px;
    margin: 10px auto;
}
#star li{
    width: 300px;
    float: left;
    border-bottom:4px solid #dfdfdf;
    transition:all .3s;/*2D过渡，过渡时间为3s*/    
}
#star li:hover{
    border-bottom:4px solid #4fb590;
    transform: translateY(-10px);/*2D转换，向上移动10像素*/
}
#star img{
    width: 300px;
}
#star li h3{
    text-align: center;
    margin-top: 10px;
}
#star li p{
    text-align: center;
    margin: 10px 0px;
    font-size: 12px;
    color: #bdbdbd;
}
#star .money{
    font-size: 15px;
    color: #00925f;
}
#star li span{
    width: 13px;
    height: 13px;
    background:url(/oppo/img/icons-1.png) no-repeat -177px -1014px;
    display: inline-block;
    vertical-align: middle;/*显示方式*/
}
#star .line{
    width: 0px;
    height: 450px;
    border-left: 1px solid #eaeaea;
    margin: 0px 10px;
}
/*精选配件部分*/
#accessory{
    height: 950px;
    background-color: #F6F6F6;
    overflow: hidden;/*更高级的清除浮动*/
}
#accessory #acc_main{
    width: 1115px;
    margin: 0px auto;
}
#accessory #acc_top{
    text-align: center;
    margin:0px auto;
}
#accessory .acc_left{
    width: 540px;
    height: 950px;
}
#accessory .acc_left>div{
    float: left;
    margin: 10px;
}
#accessory .acc_left>div>div{
    border-bottom:3px solid #eaeaea;
}
#accessory .acc_left>div:hover div{
    border-bottom:3px solid #4fb590;
    transition:all .3s;/*2D过渡，过渡时间为3s*/    
    transform: translateY(-10px);/*2D转换，向上移动10像素*/
}
#accessory .acc_left img{/*设置图片统一宽度*/
    width: 250px;
}
#accessory .acc_left>div:last-child img{/*高级选择器：选择了acc_left底下的最后一个div下的图片*/
    width: 520px;
    height: 254.5px;
}
#accessory .acc_all{
    width: 200px;
    height: 200px;
    background-color:#eee;
    border:3px solid #eaeaea;
    padding: 20px;
   /* box-sizing: border-box; 改变元素事迹所占大小的计算方式：相当于取消了内外边距 占比*/
}
#accessory .acc_all p:first-child{/*第一个p*/
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #666;
    padding-bottom: 20px;
}
#accessory .acc_all li{
    float: left;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
#accessory .acc_all li a:hover{
    color: #00925f;
}
#accessory .acc_all .line{
    width: 150px;
    height: 0px;
    border-top: 1px solid #ccc;
    clear: both;
    margin: 10px auto;
}
#accessory .acc_all p:last-child{
    text-align: center;
    padding-top: 15px;
}
#accessory .acc_all p:last-child a{
    color:#000
}
#accessory .acc_all p:last-child a:hover{
    color: #00925f;
}
#accessory .acc_all span{
    width: 13px;
    height: 13px;
    background:url(/oppo/img/icons-1.png) no-repeat -177px -1014px;
    display: inline-block;
    vertical-align: middle;/*显示方式*/
    margin-left: 10px;
}
#accessory .acc_right{
    width: 540px;
}
#accessory .acc_right>div{
    float: left;
    border-bottom:3px solid #eaeaea;
    margin: 10px;
}
#accessory .acc_right>div>div{
    border-bottom:3px solid #eaeaea;
}
#accessory .acc_rightdiv:last-child>div img{
    height: 242px;
}
#accessory .acc_right>div:hover div{
    border-bottom:3px solid #4fb590;
    transition:all .3s;/*2D过渡，过渡时间为3s*/    
    transform: translateY(-10px);/*2D转换，向上移动10像素*/
}
#accessory .acc_right div:first-child>div img{
    width: 520px;
}
#accessory .acc_right div>div img{
    width: 250px;
}
/*设置搜索欧珀样式*/
#world{
    height: 700px;
    /*clear: both;/*一开始图片位置错了，是因为受到上面浮动的影响，所以这边清除一下浮动*/
    overflow: hidden;/*更高级的清除浮动，属于下策*/
    background-color: #eaeaea;
}
#world .world_top{
    clear: both;
    margin:20px 0px;
    width: 1280px;
    text-align: center;
}
#world .world_main{
    clear: both;
    width: 1230px;
    margin: 0px auto;
}
#world .world_left{
	width: 800px;
}
#world .world_left>div{
	float: left;
	margin: 10px;
	
}
#world .world_left>div>div{
	border-bottom: 3px solid #EAEAEA;
	transition: all .3s;
}
#world .world_left>div:hover div{
	border-bottom: 3px solid #00925F;
    transform: translateY(-10px);
}
#world .world_right{
    margin-top: 10px;
    height: 560px;
    width: 400px;
    background-color: #fff;
}
#world .world_right #world_title{
    height: 65px;
}
#world .world_right #world_title a{
    width:190px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    float: left;
    background-color: #EAEAEA
}
#world .world_right #world_title>li>select{
    background-color: #fff
}
#world .world_right #world_title>li{
    float: left;
}
#world .world_right #world_title li a:hover{
    background-color: #fff
}
.select a {
    border-top:3px solid #4fb590;
    background-color: #fff !important;
}
#world .world_right ul li{
    background-color:#eaeaea;
    margin: 20px 10px;
}
#world .world_right dl{
    width: 380px;
    height: 100px;
    position: relative;/*相对定位*/
}
#world .world_right dl dt{
    position: absolute;/*绝对定位 关于父元素*/
}
#world .world_right dd{
    word-break: break-all;
    position: absolute;
    top: 20px;
    left: 130px;
    padding-right: 10px;
    box-sizing: border-box;/*改变计算方式，相当于父元素不会增加边距宽 */
}
#world .world_right ul li dl img{
    height: 100px;
}
/* 设置服务部分样式 */
#serve{
    margin: 0px auto;
    height: 100px;
    background-color: #fff;
    text-align: center;
}
#serve ul{
    width: 1110px;
    overflow: hidden;
    clear: both;
    margin: 0px auto;
    height: 99px;
    border-bottom: 1px solid #666;
}
#serve li{
    position: relative;
    float: left;
    margin: 0px 10px;
}
#serve li:hover{
    transition:all .3s;/*2D过渡，过渡时间为3s*/    
    transform: translateY(-10px);/*2D转换，向上移动10像素*/
}
#serve dl{
    width: 200px;
    height: 100px;
}
#serve dt{
    width: 41px;
    height: 41px;
    background: url(/oppo/img/icons.png) no-repeat 0px -45px;
    position: absolute;
    top: 20px;
    left: 20px;
}
#serve dl .dd1{
    position: absolute;
    top: 20px;
    left: 80px;
    font-weight: bold;
}
#serve dl .dd2{
    position: absolute;
    top: 40px;
    left: 70px;
    color: #ccc;
    font-size: 12px;
}
/*售后部分*/
#afterserver{
    height: 200px;
    background-color: #fff;
}
#afterserver ul{
    width: 1100px;
    margin: 0px auto;
    padding-top: 10px;
}
#afterserver ul li{
    width: 140px;
    float: left;
    text-align: center;
    margin: 0px 20px;
}
#afterserver ol li{
    line-height: 30px;
}
#afterserver ol li:first-child a{
    font-weight: bold;
}
#afterserver .xlwb{
    display: inline-block;
    width: 20px;
    height: 16px;
    background: url("../img/icons.png") no-repeat -47px -95px;/*no-repeat表示此背景图片在页面中只出现一次,不进行横向和纵向的平铺，后面的参数是图片大小框位移*/
    vertical-align: middle;
}
#afterserver .txwb{
    display: inline-block;
    width: 16px;
    height: 20px;
    background: url("../img/icons.png") no-repeat -27px -92px;
    vertical-align: middle;
}
/*页面底部*/
#footer{
    height: 40px;
    background-color: #2d2d2d;
}
#footer p{
    line-height: 40px;

}
#footer p img{
    margin-left: 10px;
}
#footer p span{
    color: #828282;
    margin: 0px 630px 0px 0px;
}
#footer .a{
    margin-left: 400px;
}
#footer p a{
    color: #fff;
    margin: 0px 10px;
}
#footer p a:hover{
    color:#4fb590;
}
/*返回顶部*/
#fhdb span{
    display: inline-block;
    width: 124px;
    height: 90px;
    background: url("../img/totop.png") no-repeat 40px 10px;/*no-repeat表示此背景图片在页面中只出现一次,不进行横向和纵向的平铺，后面的参数是图片大小框位移*/
    vertical-align: middle;
    position:fixed;/*固定定位：相当于对于浏览器的定位*/
    bottom: 10px ;/*对于浏览器上方距离100像素*/
    right:20px;/*左侧距离50像素*/
}
#fhdb .xs a:hover{
    cursor:pointer
}


